.book-form-dialog {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.action-buttons {
  display: flex;
  gap: 2rem;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2rem;

  &__title {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
